body[data-theme='dark'] {
	--background-main: linear-gradient(161.52deg, #2d2d2d 0%, #000000 102.05%);
	--background-active: #dc0000;
	--background-modal: #3d4245;
	--background-modal-opposite:#3d4245;

	--color-main-font: #fff;
	--color-main-font-opposite: #101010;

  --background-border: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.4) 20%, transparent 90%);
  --background-menu-item: linear-gradient(180deg, #333333, #202020);
	--bg-camera-item: rgba(255, 255, 255, 0.15);
	--bg-item-bar:linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 31.77%, #FFFFFF 69.79%, rgba(255, 255, 255, 0.0001) 100%);
	--bg-camera-details-default: rgba(255, 255, 255, 0.05);
}
