@import './themes/dark-theme.scss';
@import './themes/light-theme.scss';

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	padding: 0 24px;
	width: 600px;
	height: 1024px;
	background: var(--background-main);
	color: var(--color-main-font);
	.hide {
		display: none !important;
	}
	.accent-bg {
		background: linear-gradient(
			180deg,
			#dc0000 -170.67%,
			#6f0404 100%
		) !important;
	}
	.accent-color {
		color: #fff;
	}
	.item-bar {
		margin: 32px 0;
		width: 100%;
		height: 1px;
		background: var(--bg-item-bar);
		opacity: 0.5;
	}
}

#root {
	position: relative;
	height: 100%;
}

a {
	color: var(--color-main-font);
	text-decoration: none;
	&:focus-visible {
		outline: none;
	}
}

.stroke-color-opposite {
	stroke: var(--color-main-font-opposite);
}

.fill-color-opposite {
	fill: var(--color-main-font-opposite);
}

.stroke-color-text {
	stroke: var(--color-main-font);
}

.fill-color-text {
	fill: var(--color-main-font);
}
.stroke-color-text-default {
	stroke: var(--color-camera-details-default);
}
.fill-color-text-default {
	fill: var(--color-camera-details-default);
}
